<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
	<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
		<listEntry value="/TechCheck/src/za/co/fnb/mobile/techcheck/FileProcessor.java" />
	</listAttribute>
	<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
		<listEntry value="1" />
	</listAttribute>
	<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="za.co.fnb.mobile.techcheck.FileProcessor" />
	<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="${project_loc}/files" />
	<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TechCheck" />
</launchConfiguration>
